<section class="d-flex justify-content-center" >
  <div class="card col-sm-7 p-5 shadow p-3 mb-5 bg-body rounded" >
    <div class="mb-3" >
      <h5>RESUMEN DE RECURSOS NECESARIOS PARA EL PROYECTO</h5>
    </div>
    <div class="mb-2">
      <form action = "">

        <label>Concepto del recurso solicitado</label><br><br>

        <div class="mb-2">
          <label>HONORARIOS</label><br>
          <label>Personal externo</label>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
          <label>Personal interno</label>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
        </div><br><br>

        <div class="mb-2">
          <label>MATERIALES</label>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
        </div><br><br>

        <div class="mb-2">
          <label>SERVICIOS</label>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
        </div><br><br>

        <div class="mb-2">
          <label>BIENES MUEBLES</label>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
        </div><br>


        <div class="mb-2" align="right">

          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['/bienesmuebles']">Regresar</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['/inicio']">Inicio</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['/curriculum']">Siguiente</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>





