
<section class="d-flex justify-content-center" >
  <div class="card col-sm-7 p-5 shadow p-3 mb-5 bg-body rounded" >
    <div class="mb-3">
      <h5>DATOS GENERALES</h5>
    </div>

    <form  [formGroup]="formdatos" class="row g-3" >
      <div class="col-md-3">
        <label for="inputZip" class="form-label">Clave del proyecto</label>
        <input type="text" class="form-control" id="inputZip" formControlName="clave" placeholder="Agregue una clave">
        <div *ngIf="formdatos.controls['clave'].invalid && formdatos.controls['clave'].dirty" class="alert alert-danger" role="alert">
          <span *ngIf="formdatos.controls['clave']">Clave Requerida</span>
        </div>
      </div>

      <div class="col-9">
        <label for="inputAddress" class="form-label">Nombre del proyecto</label>
        <input type="text" class="form-control" id="inputAddress" formControlName="nombre" placeholder="Agregue el nombre del proyecto">
      </div>

      <div class="col-md-6">
        <label for="inputPrograma" class="form-label">Nombre del programa al que pertenece el proyecto</label>
        <select id="inputPrograma" class="form-select">
          <option selected>Seleccione una</option>
          <option>Investigación básica</option>
          <option>Investigación tecnológica</option>
          <option>Desarrollo experimental</option>
          <option>Investigación aplicada</option>
          <option>Desarrollo tecnológico</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="inputState" class="form-label">Área de investigación seleccionada</label>
        <select id="inputState" class="form-select"><br>
          <option selected>Seleccione una</option>
          <option>Investigación básica</option>
          <option>Investigación tecnológica</option>
          <option>Desarrollo experimental</option>
          <option>Investigación aplicada</option>
          <option>Desarrollo tecnológico</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="inputlinea" class="form-label">Línea de investigación seleccionada</label>
        <select id="inputlinea" class="form-select"><br>
          <option selected>Seleccione una</option>
          <option>Investigación básica</option>
          <option>Investigación tecnológica</option>
          <option>Desarrollo experimental</option>
          <option>Investigación aplicada</option>
          <option>Desarrollo tecnológico</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="inputnivel" class="form-label">Nivel académico en que se realizará el proyecto</label>
        <select id="inputnivel" class="form-select"><br>
          <option selected>Seleccione una</option>
          <option>Interinstitucional</option>
          <option>Institucional</option>
          <option>Divisional</option>
        </select>
      </div>

      <div class="mb-2">
        <label>Explique de manera breve la forma en que los resultados del proyecto planteado contribuirán a mejorar los servicios que ofrece la división.</label><br><br>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px" formControlName="texto"></textarea>
          <label for="floatingTextarea2"></label>
        </div>
      </div>

      <div class="mb-0">
        <label>Datos del coordinador del proyecto</label>
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-3">
        <label for="inputState" class="form-label">Cargo</label>
        <select id="inputState" class="form-select">
          <option selected>Seleccione una</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputZip" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="inputZip">
      </div>

    </form><br>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/inicio']">Inicio</button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['justificacion']" (click)="agregar()">Siguiente</button>
      </div>
    </div>

  </div>
</section>









