<section class="d-flex justify-content-center" >
  <div class="card col-sm-7 p-5 shadow p-3 mb-5 bg-body rounded" >
    <div class="mb-3" >
      <h5>RESUMEN DEL PROYECTO</h5>
    </div>
    <div class="mb-2">
      <form action = "">
        <div class="mb-2">
          <label>Mencione de manera clara y breve los aspectos técnicos y científicos de la problemática y relaciónelos con la forma en que se desarrollará el proyecto, así como sus principales productos y la manera en que estos contribuirán a la solución de la problemática detectada.</label><br><br>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
        </div><br>
        <div class="mb-2" align="right">

          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['/datosgenerales/justificacion']">Regresar</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['/inicio']">Inicio</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['/infotecnica']">Siguiente</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
