
<section class="w-50 mx-auto text-center pt-5">
  <div class="bg-dark text-white py5">
    <h1 class="p-3 fs-2 border-top border-3">Mesa de Orientación</h1>
  </div>
</section>

<section class="w-50 mx-auto text-center pt-5">
  <h4 class=" border-top border-3"><br>Con la finalidad de brindar ayuda y asesoría, la Institución pone a su disposición, el siguiente enlace de descarga del manual donde se explicada detalladamente cada uno de los puntos a requisitar.</h4><br><br>
  <div class="grid_4">
    <a href="/assets/pdf.pdf" >Descargar el manual de procedimientos</a>

  </div>
</section>



