*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form-register{
  width: 400px;
  background: white;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: Calibri;
  color: black;
}

.controls{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p{
  height: 40px;
  test-aling: center;
  font-size: 18px;
  line-height: 40px;
  color: #0C278C;
}

.form-register a{
  color: red;
}

.form-register a:hover {
  color: black;
  text-decoration: underline;
}

.form-register .botons{
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

