<section class="w-75 mx-auto  pt-5">
<div class="form" style="max-width: 1800px; ">
  <div class="row g-0">
    <div class="col-md-4" >
      <img src="/assets/tese.jpg" class="card-img-top" alt="...">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Elaboración de proyectos de investigación y/o desarrollo tecnológico</h5><br>
        <h6 class="card-title">Objetivo:</h6>
        <p class="card-text">Normar y coordinar las actividades que en materia de investigación científica y tecnológica desarrollen los profesores del Tecnológico de Estudios Superiores de Ecatepec mediante una guía de aplicación general.</p>
        <h6 class="card-title">Alcance:</h6>
        <p class="card-text">El presente procedimiento será de aplicación para los docentes de las distintas áreas académicas del Tecnológico de Estudios Superiores de Ecatepec.</p>
      </div>
    </div>
  </div>
</div>

</section>
